{% extends 'layout.html' %}

{% block title %}
Login - Library
{% endblock %}

{% include 'flash-message.html' %}

{% block body %}
{% include 'nav-auth.html' %}
<div class="container">
    <h2>Welcome to the Bochord</h2>
    <form method="post">
        <label class="form-label" style="text-align: center;"><strong>Username : </strong>  
            <input type="text" name="username" id="username" class="form-control" required />
        </label>
        <br>
        <label class="form-label" style="text-align: center;"><strong>Password :</strong>
            <input type="password" name="password" id="password" class="form-control " required />
        </label><br>
        <input type="submit" value="login" class="btn btn-success"><br>
    </form>
</div>
{% endblock %}

{% block style %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    h2 {
        color: black;
        margin-top: 64px;
        text-align: center;
    }
</style>
{% endblock%}